{
  "env": {
    "node": true
  },
  "plugins": [
    "jest",
    "flowtype"
  ],
  "extends": [
    "babel",
    "plugin:jest/recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  }
}
